{% extends "enroll/base.html" %}

{% block content %}

<center>
    <h1>SIGN IN</h1>
</center>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="col-md-6">
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </div>
</div>

<span id="error" style="color:red"></span>
<br>
<center><button type="button" class="btn btn-primary btn-lg" onclick="signIn()">Login</button></center>
</div>

<script>
    function signIn() {
        email = document.getElementById("email").value;
        password = document.getElementById("password").value;
        var csrf_token = "{{csrf_token }}";
        let data = { email: email, password: password };

        ajaxPostRequest("http://127.0.0.1:8000/api/login/", data, function (err) {
            $("#error").html(err.responseJSON.non_field_errors[0]);
        }, function (response) {
            localStorage.setItem("token", response.token)
            window.location.href = 'http://127.0.0.1:8000/homepage/'
        })
    }
</script>

{% endblock content %}

</html>